.result__container {
  margin-top: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.result__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
}


.result__table thead {
  background-color: #5995fd;
  color: white;
}

.result__table th,
.result__table td {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-align: center;
}

.result__table tbody tr:nth-child(even) {
  background-color: #f3f8ff;
}

.result__table tbody tr:nth-child(odd) {
  background-color: #e6f0ff;
}

.result__no-data {
  margin-top: 2rem;
  text-align: center;
  color: #2c3e50;
}

.pagination__controls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination__page {
  font-weight: 600;
  color: #2c3e50;
}

.pagination__button{
  max-width: fit-content;
}
